*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
.vscode
.idea
backup/
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
.fuse*
proto/*.cc
proto/*.h
chenyun
results
# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
libdarknet.*
